body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #282c34;
    font-family: 'Arial', sans-serif;
}
#relogio {
    font-size: 4rem;
    color: #61dafb;
    background-color: #383c44;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    letter-spacing: 5px;
}